$header-bg: #252945
$purple: #7c5dfa
$lightPurple: #9277ff
$hash: #7e88c3
$itemListBg: #252945

.dark
	color-scheme: dark
	color: white
	--boardBg: #141625
	--cardBg: #1e2139

.light
	color-scheme: light
	--boardBg: #f8f8fb
	--cardBg: #fff
